html
    head
        meta(charset='utf-8')
        title= 'To Do List'
    body
        h1 = toDoListTitle
        form(action='/add_list' method='post')
            p
                label(for='content') 할 일 추가 :
                input(type = 'text' name='content')
                input(type='submit' value = '추가하기')
            p
                ul
                    each val in toDoLists
                        li 
                            = val
                            button(type = "button" onclick='location.href="/delete_list' + val + )